* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background: #222226;
$input: rgb(87, 87, 87);
$text: #777;
$border: #444446;
$white: white;
$red: rgb(151, 0, 0);
$green: rgb(0, 175, 0);

body {
  background-color: $background !important;

  .form-settings {
    width: 380px;
    margin: 200px auto;

    .label-settings {
      color: $text;
    }

    .input-settings {
      background-color: $input;
      border: none;
      color: $white;
    }

    .form-button {
      margin-top: 10px;
    }
  }

  .logout-btn {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 9px;
  }

  .welcome-intro {
    width: 700px;
    text-align: center;
    margin: 200px auto;
    color: $text;
  }

  .posts-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .search-posts {
      margin: 20px auto 40px auto;
      width: 350px;
      height: 40px;
      background-color: $input;
      border: none;
      padding: 0 20px;
      font-size: 18px;
      color: $white;
    }

    .post-item {
      width: 777px;
      margin: 0 auto 30px auto;
      position: relative;
      word-wrap: break-word;
      max-height: 278px;
      overflow: hidden;

      .remove-post {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        color: $red;
      }
    }
  }
  .post-item-details {
    width: 777px;
    margin: 30px auto 0 auto;
    position: relative;
    word-wrap: break-word;

    .close-post-btn {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  .post-item-jumbotron {
    background-color: $input !important;

    .post-title {
      max-height: 50px;
      overflow: hidden;
      color: $white;
    }

    .post-detail-title {
      color: $white;
    }

    .post-description {
      max-height: 70px;
      overflow: hidden;
      color: $white;
    }

    .post-detail-description {
      color: $white;
    }
  }

  .empty-posts {
    color: $text;
    text-align: center;
    margin-top: 250px;
  }

  .todo-container {
    width: 580px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .input-container {
      position: relative;
      width: 100%;

      .arrow {
        border: solid $text;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
      }

      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      i {
        position: absolute;
        top: calc(50% - 10.5px);
        left: 20px;
        cursor: pointer;
      }
    }

    .todo-header {
      color: $text;
      font-size: 100px;
    }

    input {
      width: 100%;
      height: 65px;
      background-color: $input;
      border: none;
      font-size: 23px;
      padding: 0 50px;
      color: $white;
      z-index: 10;
      border-bottom: 1px solid $border;
    }

    .todo-list {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .loading-todos {
        margin: 0 auto;
        position: relative;
        top: 100px;
      }

      .todo-item {
        width: 100%;
        min-height: 55px;
        background-color: $input;
        display: flex;
        align-items: center;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        margin-top: -1px;
        padding: 5px 20px;

        &:hover {
          .remove-todo {
            display: block;
          }
        }

        .todo-toggle {
          width: 23px;
          height: 23px;
          background-color: $text;
          font-size: 21px;
          border-radius: 100%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $green;
          font-weight: bold;
        }

        .todo-title {
          margin-left: 15px;
          color: $white;
          font-size: 21px;
          width: 470px;
          word-wrap: break-word;

          &.-done {
            color: $text;
            font-style: italic;
            text-decoration: line-through;
          }
        }

        .remove-todo {
          margin-left: auto;
          font-weight: bold;
          cursor: pointer;
          display: none;
          font-size: 21px;
          color: $red;
        }
      }
    }

    .filter-buttons {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: $input;
      height: 30px;
      padding: 0 20px;
      color: $text;

      .todos-count {
        font-size: 14px;
      }

      .filter-btn {
        margin-left: 50px;
        cursor: pointer;

        &.-active {
          color: $white;
        }
      }

      .remove-completed {
        margin-left: 40px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .post-item {
    width: 100% !important;
  }
  .post-item-details {
    width: 90% !important;
  }
}

@media only screen and (max-width: 700px) {
  .welcome-intro {
    width: 500px !important;
    h1 {
      font-size: 21px;
    }
    h3 {
      font-size: 19px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .todo-container {
    width: 90% !important;

    input {
      height: 55px !important;
      font-size: 21px !important;
    }

    .todo-header {
      font-size: 80px !important;
    }

    .todo-item {
      min-height: 45px !important;

      .todo-title {
        width: 300px !important;
        font-size: 19px !important;
      }
    }

    .filter-buttons {
      .filter-btn {
        font-size: 14px;
        margin-left: 30px !important;
      }

      .remove-completed {
        margin-left: 15px !important;
      }
    }
  }
}
