* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222226 !important;
}
body .form-settings {
  width: 380px;
  margin: 200px auto;
}
body .form-settings button {
  background-color: #575757 !important;
  border: none !important;
}
body .form-settings .label-settings {
  color: #777;
}
body .form-settings .input-settings {
  background-color: #575757;
  border: none;
  color: #fff;
}
body .form-settings .form-button {
  margin-top: 10px;
}
body .logout-btn {
  position: absolute;
  top: 0;
  right: 20px;
  margin-top: 9px;
}
body .welcome-intro {
  width: 700px;
  text-align: center;
  margin: 200px auto;
  color: #777;
}
body .posts {
  display: flex;
  flex-direction: column;
  position: relative;
}
body .posts .post-filters {
  width: 777px;
  display: flex;
  justify-content: center;
  position: relative;
}
body .posts .post-filters .search-posts {
  margin: 40px auto 20px auto;
  width: 350px;
  height: 40px;
  background-color: #575757;
  border: none;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
}
body .posts .post-filters .filter-posts-label {
  color: #777;
  position: absolute;
  right: 0;
  margin-top: 2px;
}
body .posts .post-filters label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: -3px;
  position: absolute;
  right: 60px;
  top: 45px;
}
body .posts .post-filters .label-text {
  margin-left: 8px;
}
body .posts .post-filters .toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 54px;
  border-radius: 15px;
  background: #575757;
  overflow: hidden;
  transform: scale(0.8);
}
body .posts .post-filters .toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 28px;
  width: 52px;
  border-radius: 15px;
  overflow: hidden;
}
body .posts .post-filters .active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #575757;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}
body .posts .post-filters .toggle-state {
  display: none;
}
body .posts .post-filters .indicator {
  height: 100%;
  width: 200%;
  background: #777;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}
body .posts .post-filters .toggle-state:checked ~ .active-bg {
  transform: translate3d(-50%, 0, 0);
}
body .posts .post-filters .toggle-state:checked ~ .toggle-inner .indicator {
  transform: translate3d(25%, 0, 0);
}
body .posts .posts-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
body .posts .posts-list .post-item {
  width: 777px;
  margin: 0 auto 30px auto;
  position: relative;
  word-wrap: break-word;
  max-height: 278px;
  overflow: hidden;
}
body .posts .posts-list .post-item:hover .post-settings .remove-post {
  display: block;
}
body .posts .posts-list .post-item:hover .post-settings .edit-post {
  display: block;
}
body .posts .posts-list .post-item .post-settings {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .posts .posts-list .post-item .post-settings .remove-post {
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  color: #970000;
  display: none;
}
body .posts .posts-list .post-item .post-settings .edit-post {
  width: 23px;
  margin-right: 7px;
  display: none;
  cursor: pointer;
}
body .posts .empty-posts {
  color: #777;
  text-align: center;
  margin-top: 250px;
}
body .todo-container {
  width: 580px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .todo-container .input-container {
  position: relative;
  width: 100%;
}
body .todo-container .input-container .arrow {
  border: solid #777;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}
body .todo-container .input-container .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
body .todo-container .input-container i {
  position: absolute;
  top: calc(50% - 10.5px);
  left: 20px;
  cursor: pointer;
}
body .todo-container .todo-header {
  color: #777;
  font-size: 100px;
}
body .todo-container input {
  width: 100%;
  height: 65px;
  background-color: #575757;
  border: none;
  font-size: 23px;
  padding: 0 50px;
  color: #fff;
  z-index: 10;
  border-bottom: 1px solid #444446;
}
body .todo-container .todo-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body .todo-container .todo-list .loading-todos {
  margin: 0 auto;
  position: relative;
  top: 100px;
}
body .todo-container .todo-list .todo-item {
  width: 100%;
  min-height: 55px;
  background-color: #575757;
  display: flex;
  align-items: center;
  border-top: 1px solid #444446;
  border-bottom: 1px solid #444446;
  margin-top: -1px;
  padding: 5px 20px;
}
body .todo-container .todo-list .todo-item:hover .remove-todo {
  display: block;
}
body .todo-container .todo-list .todo-item .todo-toggle {
  width: 23px;
  height: 23px;
  background-color: #777;
  font-size: 21px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00af00;
  font-weight: bold;
}
body .todo-container .todo-list .todo-item .todo-title {
  margin-left: 15px;
  color: #fff;
  font-size: 21px;
  width: 470px;
  word-wrap: break-word;
}
body .todo-container .todo-list .todo-item .todo-title.-done {
  color: #777;
  font-style: italic;
  text-decoration: line-through;
}
body .todo-container .todo-list .todo-item .remove-todo {
  margin-left: auto;
  font-weight: bold;
  cursor: pointer;
  display: none;
  font-size: 21px;
  color: #970000;
}
body .todo-container .filter-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #575757;
  height: 30px;
  padding: 0 20px;
  color: #777;
}
body .todo-container .filter-buttons .todos-count {
  font-size: 14px;
}
body .todo-container .filter-buttons .filter-btn {
  margin-left: 50px;
  cursor: pointer;
}
body .todo-container .filter-buttons .filter-btn.-active {
  color: #fff;
}
body .todo-container .filter-buttons .remove-completed {
  margin-left: 40px;
  font-size: 12px;
  cursor: pointer;
}
body .post-item-details {
  width: 777px;
  margin: 30px auto 0 auto;
  position: relative;
  word-wrap: break-word;
}
body .post-item-details .close-post-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
body .post-detail-jumbotron {
  background-color: #575757 !important;
}
body .post-detail-jumbotron .post-detail-title {
  color: #fff;
}
body .post-detail-jumbotron .post-detail-description {
  color: #fff;
}
body .post-item-jumbotron {
  background-color: #575757 !important;
  max-height: 278px;
  position: relative;
}
body .post-item-jumbotron button {
  background-color: #777 !important;
}
body .post-item-jumbotron .post-title {
  max-height: 50px;
  overflow: hidden;
  color: #fff;
}
body .post-item-jumbotron .post-description {
  max-height: 70px;
  overflow: hidden;
  color: #fff;
}
body .post-item-jumbotron .author {
  position: absolute;
  right: 25px;
  bottom: 25px;
  color: #777;
  font-size: 17px;
}
body .modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(34, 34, 38, 0.8);
}
body .modal-bg .close-edit-post-modal-btn {
  background-color: #777 !important;
}
body .modal-bg .edit-post-modal {
  top: calc(50vh - 155px);
  left: calc(50% - 225px);
  width: 450px;
  position: absolute;
}
body .modal-bg .edit-post-modal .modal-content {
  background-color: #575757;
}
body .modal-bg .edit-post-modal .modal-content .modal-header {
  border-color: #444446;
}
body .modal-bg .edit-post-modal .modal-content .modal-footer {
  border-color: #444446;
}
body .modal-bg .edit-post-modal .modal-content .edit-post-input {
  border: none;
  outline: none;
  background-color: #777;
  height: 30px;
  width: 90%;
  color: #fff;
  padding: 0 10px;
}
body .modal-bg .edit-post-modal .modal-content .edit-post-input::placeholder {
  color: #a1a1a1;
}
body .-disabled {
  opacity: 0.4;
  pointer-events: none;
}
body .chat-container {
  position: relative;
}
body .chat-container .messages-main {
  width: 600px;
  min-height: calc(100vh - 96px);
  background-color: #575757;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3px;
  position: relative;
}
body .chat-container .messages-main .read-container {
  height: calc(93vh - 96px);
  overflow-y: scroll;
  padding: 10px 10px;
}
body .chat-container .messages-main .read-container::-webkit-scrollbar {
  width: 10px;
}
body .chat-container .messages-main .read-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #575757;
  border-radius: 10px;
}
body .chat-container .messages-main .read-container::-webkit-scrollbar-thumb {
  background: #777 !important;
  border-radius: 10px;
}
body .chat-container .messages-main .read-container .message-wrapper {
  margin-bottom: 15px;
  margin-left: 8px;
  position: relative;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper
  .edit-message {
  width: 21px;
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  cursor: pointer;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper
  .remove-message {
  position: absolute;
  top: -3px;
  right: 2px;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  color: #970000;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper:hover
  .edit-message {
  display: block !important;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper:hover
  .remove-message {
  display: block !important;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper.-current-users-message {
  display: flex;
  text-align: end;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper
  .message-author-name {
  font-weight: bold;
  font-size: 18px;
  color: #a1a1a1;
  width: 45%;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper
  .message-title {
  color: #fff;
  font-size: 17px;
  background-color: #777;
  border-color: #444446;
  width: 45%;
  margin: 15px 0px 0 0px;
  min-height: 70px;
  border-radius: 30px;
  text-align: start;
  position: relative;
  overflow-wrap: break-word;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper
  .message-title
  .message-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: calc(100% - 48px);
  background-color: #777;
  transform: rotate(45deg);
  border-top: 1px solid #444446;
  border-left: 1px solid #444446;
}
body
  .chat-container
  .messages-main
  .read-container
  .message-wrapper
  .message-title
  .message-arrow.-current-users-arrow {
  left: calc(100% - 48px);
}
body .chat-container .messages-main .write-container {
  width: 100%;
  height: calc(7vh);
  min-height: 55px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #444446;
  background-color: #575757;
}
body .chat-container .messages-main .write-container input {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
  background-color: #777;
  outline: none;
  color: #fff;
}
body .chat-container .messages-main .write-container input::placeholder {
  color: #a1a1a1;
}
body .chat-container .users-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #575757;
}
body .chat-container .users-container .users-list .user {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #444446;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  color: #fff;
}
body .chat-container .users-container .users-list .user .status {
  width: 11px;
  height: 11px;
  background-color: #444446;
  border-radius: 100%;
  margin-left: auto;
}
body .chat-container .users-container .users-list .user .status.-online {
  background-color: #00af00 !important;
}
body .delete-message-conf-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(34, 34, 38, 0.8);
}
body .delete-message-conf-background .delete-message-confirmation {
  position: absolute;
  top: calc(50vh - 136px);
  left: calc(50% - 153px);
}
body
  .delete-message-conf-background
  .delete-message-confirmation
  .modal-content {
  background-color: #575757;
  border: none;
}
body
  .delete-message-conf-background
  .delete-message-confirmation
  .modal-content
  .modal-header {
  border-color: #575757;
  color: #fff;
}
body
  .delete-message-conf-background
  .delete-message-confirmation
  .modal-content
  .modal-footer {
  border: none;
}
body
  .delete-message-conf-background
  .delete-message-confirmation
  .modal-content
  .modal-footer
  button {
  background-color: #777 !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #222226;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
  .post-item {
    width: 100% !important;
  }
  .post-item-details {
    width: 90% !important;
  }
}
@media only screen and (max-width: 770px) {
  .post-filters {
    justify-content: start !important;
    align-items: flex-start !important;
  }
  .post-filters .search-posts {
    margin: 40px 0 20px 0 !important;
  }
  .messages-main {
    width: 100% !important;
  }
}
@media only screen and (max-width: 700px) {
  .welcome-intro {
    width: 500px !important;
  }
  .welcome-intro h1 {
    font-size: 21px;
  }
  .welcome-intro h3 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 600px) {
  .todo-container {
    width: 90% !important;
  }
  .todo-container input {
    height: 55px !important;
    font-size: 21px !important;
  }
  .todo-container .todo-header {
    font-size: 80px !important;
  }
  .todo-container .todo-item {
    min-height: 45px !important;
  }
  .todo-container .todo-item .todo-title {
    width: 300px !important;
    font-size: 19px !important;
  }
  .todo-container .filter-buttons .filter-btn {
    font-size: 14px;
    margin-left: 30px !important;
  }
  .todo-container .filter-buttons .remove-completed {
    margin-left: 15px !important;
  }
  .posts .post-filters {
    position: static !important;
  }
}
