* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #c4c4c4 !important;
}
body .form-settings {
  width: 20%;
  margin: 200px auto;
}
body .logout-btn {
  position: absolute;
  top: 0;
  right: 20px;
  margin-top: 9px;
}
body .welcome-intro {
  width: 35%;
  text-align: center;
  margin: 200px auto;
}
